@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.border-gradient {
  border-image: linear-gradient(90deg, rgb(110, 4, 84) 0%, rgba(175,0,255,0.7511379551820728) 22%, rgba(9,121,65,1) 100%);
  border-image-slice: 1;
}
.bg-custom{
 -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, rgba(36,0,27,1) 0%, rgba(175,0,255,0.7511379551820728) 22%, rgba(9,121,65,1) 100%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
.btn{
  @apply rounded-md bg-emerald-600 px-4 py-2
   text-white hover:bg-emerald-500 disabled:bg-emerald-500
}
.side-menu-item{
@apply m-2 p-2 flex items-center gap-4 rounded-md hover:bg-gray-800
}

}